@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .w30 {
    width: 20%;
  }
  .w5{
    width: 5%;
  }
  .w11{
    width: 14%;
  }
  .w84 {
    width: 93%;
  }
  .trans-center {
    transform: translate(-50%, -50%);
  }
  .background-trans {
    background: rgba(35, 33, 33, 0.66);
  }
  .h-90vh {
    height: 90vh;
  }
  .w-30n {
    width: 30%;
  }
    .scrollbar::-webkit-scrollbar {
      display: none;
    }
  
}
