@media (max-width: 650px) {
  .sidebar {
    display: none;
  }
}

.sidebarMobile {
    display: none;
}

@media(max-width: 650px) {
    .sidebarMobile {
        display: flex;
        width: 100%;
        padding: 1rem 0;
    }
}
@media(max-width: 600px) {
    .sidebarMobile {
        width: 100%;
    }
}