.thumbnail {
  width: 20%;
}

@media (max-width: 912px) {
  .thumbnail {
    width: 27%;
  }
}
@media (max-width: 730px) {
  .thumbnail {
    width: 33%;         
  }
}
@media (max-width: 600px) {
  .thumbnail {
    width: 90%; 
    height: 13rem; 
    overflow: hidden;       
  }
}

@media (max-width: 600px) {
  .thumbnailImage {
    height: 80%;
  }
}